<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
	<meta charset="UTF-8" />
	<title>Banca</title>
	<link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
</head>

<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/index">Banca UNLa</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>
		<div class="alert alert-warning alert-dismissable" th:if="${warning != null}">
			<label th:text="${warning}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
	</header>

	<div class="container">
		<h1 th:text="${titulo}"></h1>

	</div>

	<div class="container">



		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Nombre</th>
					<th scope="col">Apellido</th>
					<th scope="col">Documento</th>
					<th scope="col">Tarjetas de Crédito</th>
					<th scope="col">Tarjetas de Débito</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="li:${lista}">

					<th scope="row" th:text="${li.nombre}"></th>
					<th scope="row" th:text="${li.apellido}"></th>
					<th scope="row" th:text="${li.dniPersona}"></th>
					<td>
						<a class="btn btn-success btn-sm" th:href="@{/clienteBanca/lista/tarjetasCredito/}+${li.dniPersona}" th:text="Ver"
							title="Ver tarjetas de crédito">

						</a>
					</td>
					
				
					
						<td>
						<a class="btn btn-success btn-sm" th:href="@{/clienteBanca/lista/tarjetasDebito/}+${li.dniPersona}" th:text="Ver"
							title="Ver tarjetas de débito">

						</a>
					</td>
					

			
			
				</tr>

			</tbody>
		</table>


	</div>


	<footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">
		<div class="container">
			<p>Copyright Marcelo Wolf 2021</p>
		</div>

		<script type="text/javascript" th:src="@{vendor/bootstrap/jquery/jquery.slim.min.js}"></script>
		<script type="text/javascript" th:src="@{vendor/bootstrap/js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{vendor/bootstrap/js/bootstrap.min.js}"></script>
	</footer>

</body>

</html>